.delivery-date-pro-box {
    padding: 10px;
    margin-top: 20px !important;
}

#delivery-date-pro {
    border: 1px solid black;
    margin-left: 10px;
}

#delivery-time {
    padding: 10px;
    border: 1px solid black !important;
}