#selected_format{
        display: block;
  	    margin-left: 2px;
    	margin-top: 5px;
    	font-size: 11px;
    	font-style: italic;
        text-align: left; 
}
#admin_notes{
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    font-style: italic;
    text-align: left;
}
#datepicker_box {
   width: auto;
   text-align: left;
   display: inline-block;
}
#datepicker_box .date-box{
   display: inline-block;
   margin: 0px;
   text-align: left;
}